<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:query-title {"align":"wide","type":"archive","textAlign":"center","showPrefix":false,"style":{"spacing":{"margin":{"right":"0","bottom":"var:preset|spacing|50","left":"0"}}}} /-->
		<!-- wp:query {"query":{"perPage":"12","pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":"4"},"align":"full"} -->
		
		<div class="wp-block-query alignfull">
			<!-- wp:post-template -->
			
				<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
			
				<div class="wp-block-group">
					
					<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}},"border":{"radius":"16px"}}} /-->
					<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"var(--wp--custom--typography--font-size--medium-plus)","lineHeight":"1.25"}}} /-->
					<!-- wp:post-excerpt {"moreText":"","excerptLength":20,"fontSize":"small"} /-->
					<!-- wp:post-terms {"term":"category","separator":"","className":"is-style-buttons"} /-->
			
				</div>
				
				<!-- /wp:group -->
				
			<!-- /wp:post-template -->
	
			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","className":"alignwide","layout":{"type":"flex","justifyContent":"space-between"}} -->
				<!-- wp:query-pagination-previous {"fontSize":"large"} /-->
	
				<!-- wp:query-pagination-next {"fontSize":"large"} /-->
				<!-- /wp:query-pagination -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->